.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  color: #fff;
  padding: 0.7rem 2rem;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li {
  margin-left: 1rem;
}